* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  font-size: 62.5%;
}

body {
  color: #444;
  font-family: "Playfair Display", serif;
}
///////////////////////////////NAVIGATION /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.navigation {
    position: sticky;
  top: 0;
  z-index: 100000000;
  background-color: #fff;
  border-bottom: 1px solid rgb(243, 243, 243);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  

  &__logo {
    font-size: 2.4rem;
    text-transform: uppercase;
    a {
      color: #444;
    text-decoration: none;
    }
  }

  &__menu {
    display: flex;
    list-style: none;
    gap: 2em;
    font-size: 1.6rem;
    text-transform: uppercase;
    box-sizing: border-box;
  }

  &__menu-link {
    padding: 1rem;
    color: #444;
    text-decoration: none;
    transition: all .3s;
    &:hover {
      color: rgb(123, 174, 174);
    }
  }

  &__menu-box {
    display: none;

  }

  &__menu-bars--icon {
    padding: 0.5rem;
    font-size: 2.8rem;
    color: #444;
    z-index: 100;
    cursor: pointer;
  }

  &__mobile {
    // opacity: 0;
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    transition: all 0.3s;
  }

  &__mobile-menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ecebec;
    font-size: 2.4rem;
    position: absolute;
    z-index: -99999;
    width: 100%;
  }
}

///////////////////////////////HEADER /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.home {
  text-align: center;
  &__box-info {
    padding: 4rem;
  }

  &__heading {
    position: relative;
    margin-bottom: 2.4rem;
    font-size: 3.4rem;
    font-weight: 400;
    text-transform: uppercase;
    z-index: -9999;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 35px;
      width: 80%;
      background-color: rgba(123, 174, 174, 0.35);
      z-index: -111;
    }
  }

  &__description {
    margin: 2.8rem 0;
    font-size: 1.4rem;
  }

  &__btn-contact {
    padding: 1rem 3rem;
    background-color: rgba(123, 174, 174, 0.35);
    border: none;
    font-family: inherit;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color .3s;
    &:hover {
      background-color: #444;
    }
    &:hover a {
      color: #fff
    }
    a {
      color: #444;
      text-decoration: none;
      transition: color .3s;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__bg-full {
    position: absolute;
    top: -7%;
    left: 12%;
    background-color: rgba(123, 174, 174, 0.35);
    max-width: 400px;
    width: 60%;
    height: 100%;
    z-index: -10;
  }

  &__bg-border {
    position: absolute;
    bottom: -7%;
    right: 12%;
    max-width: 400px;
    width: 60%;
    height: 100%;
    border: 1px solid rgba(123, 174, 174, 0.35);
    z-index: -10;
  }

  &__box-img {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding: 2rem;

    img {
        max-width: 400px;
      width: 60%;
      z-index: -1;
      box-shadow: -2px 2px 10px rgb(173, 173, 173);
  }
}
}

///////////////////////////////ABOUT /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.about {
  margin: 6rem 0;
  background-color: #c3bfca1c;
  text-align: center;

  &__info {
    padding: 4rem;
  }

  &__secondary-heading {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: normal;

    span {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 20px;
        width: 100%;
        background-color: rgba(123, 174, 174, 0.35);
        z-index: -11;
      }
    }
  }

  &__description {
    font-size: 1.2rem;
  }

  &__img-box {
    background-image: url('../img/about-small.webp');
    height: 150px;
    background-size: cover;
    background-position: center;
  }
}

///////////////////////////////   OFFER    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// 
/// 

.offer {
  text-align: center;
  margin: 8rem 0 4rem 0;

  &__box {
    padding:0 4rem 4rem 4rem;
  }

  &__heading {
    margin: 5rem 0;
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  &__description {
    font-size: 1.2rem;
  }

  &__heading-card {
    position: relative;
    margin: 2rem 0;
    font-size: 1.6rem;

    &::after {
      content: "";
      position: absolute;
      bottom: -30%;
      left: 0;
      height: 15px;
      width: 80%;
      background-color: rgba(123, 174, 174, 0.35);
      z-index: -11;
    }
  }

  &__card {
    text-align: left;
    margin-bottom: 4rem;
    background-color: #c3bfca1c;
    box-shadow: 1px 1px 10px rgb(223, 223, 223);
  }

  &__info {
    padding: 0 2rem 3rem 2rem;
  }

  &__img {
    height: 200px;
    background-size: cover;
    background-position: center;
    &--one {
      background-image: url('../img/offer1.webp');
    }
    &--two {
      background-image: url('../img/offer2.webp');
    }
    &--three {
      background-image: url('../img/offer3.webp');
    }
  }

  &__link {
    text-align: center;
    font-size: 1.4rem;
    color: #444;
    text-decoration: none;
    border-bottom: 1px solid #444;
    font-weight: bold;
    transition: border-bottom .3s, color .3s;
    &:hover {
      color: rgb(123, 174, 174);
      border-bottom: 0;
    }
  }
}

///////////////////////////////   GALLERY    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.gallery {
  padding:0 4rem 4rem 4rem;
  text-align: center;
  margin: 10rem 0 7rem 0;

  &__heading {
    margin: 4rem 0 8rem 0;
    font-size: 2.4rem;
    text-transform: uppercase;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  &__item-box {
    overflow: hidden;
  }

  &__item {
    width: 100%;
    height: 25rem;
    justify-self: center;
    align-self: center;
    background-size: cover;
    background-position: center;
    transition: transform .3s;
    &:hover {
      transform: scale(1.1);
    }
    &--one {
      background-image: url('../img/gallery/gallery1.webp');
    }
    &--two {
      background-image: url('../img/gallery/gallery2.webp');
    }

    &--three {
      background-image: url('../img/gallery/gallery3.webp');
    }
    &--four {
      background-image: url('../img/gallery/gallery4.webp');
    }

    &--five {
      background-image: url('../img/gallery/gallery5.webp');
    }

    &--six {
      background-image: url('../img/gallery/gallery6.webp');
    }
    &--seven {
      background-image: url('../img/gallery/gallery7.webp');
    }

    &--eight {
      background-image: url('../img/gallery/gallery8.webp');
    }
    &--nine {
      background-image: url('../img/gallery/gallery10.webp');
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}


///////////////////////////////   CONTACT    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.contact {
  padding: 0 4rem 4rem 4rem;
  text-align: center;

  &__heading {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    text-transform: uppercase;
  }

  &__box {
    font-size: 1.4rem;
  }

  &__information {
    margin-top: 2.8rem;
  }

  &__subheading {
    text-transform: uppercase;
    font-weight: 600;
    i {
      position: relative;
      margin-right: .6rem;
      width: 20px;
        height: 20px;
      &::after {
        content: '';
        position: absolute;
        top: -6px;
        left: -3px;
        width: 20px;
        height: 20px;
        background-color: rgba(123, 174, 174, 0.35);
        z-index: -1;
      }
    }
  }

  &__hour {
    margin-bottom: 0.6rem;
    span {
      font-weight: bold;
    }
  }

  &__hours {
    margin: 2.8rem 0;
  }

  &__icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 0.4rem;
    a {
      color: #444;
      font-size: 1.6rem;
      transition: color .3s;
      &:hover {
        color: rgb(123, 174, 174);
      }
    }
  }

  &__map {
    margin-top: 2.8rem;
  }

  &__map-item {
    width: 100%;
  }


}

///////////////////////////////   FOOTER    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.footer {
  padding: 3rem 0;
  text-align: center;
  color: #fff;
  background-color: #444;
  font-size: 1.4rem;
}

///////////////////////////////   PRICE    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// 
.price {
  margin-top: 3rem;
  &__box {
    padding: 4rem;
  }

  &__item {
    margin-top: 3.2rem;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #c3bfca1c;

  }

  &__title {
    font-weight: bold;
    font-size: 2.2rem;
  }

  &__icon {
    font-size: 2.2rem;
  }

  &__info {
    padding: 2rem 2rem 4rem 2rem;
    font-size: 1.4rem;
    // display: none;
    max-height: 0;
    overflow: hidden;
    border-bottom: 1px solid #c3bfca48;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }
}


.price-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url('../img/price-header.webp');
  height: 300px;
  background-size: cover;
  background-position: center;
  color: #fff;
  z-index: -2;

  &__shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.74);
    z-index: -1;
  }

  &__heading {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 4px
  }
}



///////////////////////////////   IMPORT    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import "./media";
@import "./general";
